.container {
  position: absolute;
  right: 0;
  width: 260px;
  padding: 40px;
  border: 1px solid #69735D;
  border-radius: 12px;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 24px;
}

.content li {
  cursor: pointer;
}

.logoutContainer {
  display: flex;
  gap: 8px;
}