.registrationPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  overflow-y: auto;
  color: var(--color-main);
  background-color: var(--color-bg-main);
  border-radius: 12px;
}

.registrationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 36px 0 36px;
  /* color: var(--color-main); */
  /* background: #f8f9fa; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.closeButton {
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 12px;
}

.progressSection {
  padding: 20px;
}

.mainContent {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  flex: 1;
}

.contentContainer {
  display: flex;
  gap: 24px;
  max-width: 1136px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.formSection {
  flex: 0 0 auto;
  width: 556px;
}

.onboardingSection {
  flex: 0 0 auto;
  width: 556px;
}