@import url('./shared/assets/fonts/fonts.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

.light {
  --color-main: #253017;
  --color-accent: #595e4f;
  --color-bg-main: #F9FAF7;
  --color-bg-second: #FFFFFF;
  --color-bg-hover: #f2f3f1;
  --color-bg-accent: #f2f3f1;
  --color-error: #d11f00;
}

.dark {
  --color-main: #F9FAF7;
  --color-accent: #afb8a1;
  --color-bg-main: #253017;
  --color-bg-second: #3a4b23;
  --color-bg-hover: #253017;
  --color-bg-accent: #b2c797;
  --color-error: #d11f00;
}

body {
  color: var(--color-main);
  background-color: var(--color-bg-main);
}